# Salesforce login. Should be a System Administrator so that we can post as other users.
SFDC_PASSWORD=your_password
SFDC_USERNAME=your_username

# See https://help.salesforce.com/apex/HTViewHelpDoc?id=user_security_token.htm
# Only specify the token here. No need to append the password.
SFDC_TOKEN=your_security_token

# Delay in seconds after posting a feed item or comment.
DELAY_BETWEEN_POSTS=0

# If this is True, we'll post random feed items with all of their
# comments from the original Facebook threads. If it's False, we'll post random
# feed items with random comments.
RECONSTRUCT_THREADS=True

# If RECONSTRUCT_THREADS is False, these settings control how many comments get posted.
MIN_COMMENTS=3
MAX_COMMENTS=5
